<div class="col-md-8 col-md-offset-2">
  <div class="message-show">
    <h2 class="new-msg-header">Create a shop </h2>
  </div>
</div> 

<div class="col-md-8 col-md-offset-2">
  <div class="message-show">
    <%= render 'form' %>
  </div>
</div> 
