<h1>Items here</h1>
<% @items.each do |item| %>
  <% if item.shop_id == @shop.id %>
    <div class="col-md-10 col-md-offset-1">
      <div class="message">
      <h2 class="message-title">
        <%= link_to  item.name, shop_item_path(@shop, item.id), class: "btn-custom" %>
      </h2>
      </div>
    <% end %>
    </div>
<% end %>