@import url(https://fonts.googleapis.com/css?family=Lato);
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #e6e6e6;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato';
  font-weight: 200;
}

/*Navbar color*/
.navbar-default {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 15px;
  background-color: #5cb85c;
  
  .navbar-nav > li > a {
    color: white;
  }

  .navbar-link {
    color: white;
  }
  
  .navbar-header {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Links styles */ 

.links {
  margin-top: 20px;
  .btn-default {
    color: #ec6767;
  }
}

/* Message styles*/

.message {
  box-sizing: border-box;
  background-color: #FFF;
  border-radius: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 2em 1em;
  color: #000;
  height: 40px;

  
  .message-title {
    font-size: 1.2em;
    font-family: 'Asap', sans-serif;
    font-weight: 200;
    margin-top: 0;
    color: #009933;
    margin-bottom: 15px;
  }
  
  .btn-custom {
    margin-top: 12px;
  }
}
  
.message:nth-child(4n) {
    clear: left;
  }
    
  /* show message */
  
.message-show {
  box-sizing: border-box;
  background-color: #FFF;
  border-radius: 0px;
  padding: 1.4em 1.4em;
  color: #000;
  border-bottom: 2px solid #5cb85c;
  font-family: 'Asap', sans-serif;
  font-weight: 220;
  
  
  h2 {
    margin-top: 10px;
  }    
    
  .message-desc {
    font-size: 1.1em;
    line-height: 1.75;
    margin-bottom: 25px;
  }
  
  .message-posted-by {
    color: #999999;
    font-size: 0.8em;
  }
  
  .reply-to-msg {
    margin-top: 25px;
  }
}

.comment {
  border-top: 1px solid  #e2e2d0;
  padding-top: 10px;
  padding-bottom: 10px;
  
  .comment-content {
    font-size: 1.1em;
  }
  
  .comment-posted-by {
    color: #999999;
    font-size: 0.8em;
  }
}


.shop-show {
  font-weight: bold;
  border-top: 1px solid  #e2e2d0;
  padding-top: 10px;
  padding-bottom: 10px;
  
  .comment-content {
    font-size: 1.1em;
  }
  
  .comment-posted-by {
    color: #999999;
    font-size: 0.8em;
  }
}

.style_image {
  border: 4px dotted #fff;
  float :left;
}

#logo {
  font-family: "Palatino Linotype";
  float: left;
  margin-right: 12px;
  font-size: 1.7em;
  color: white;
  text-transform: lowercase;
  letter-spacing: -1px;
  padding-top: 8px;
  font-weight: bold;
  &:hover {
    color: none;
    text-decoration: none;
  }
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
